<head>
  <link rel="stylesheet" href="static/base.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="home">

  <nav>
    <label class="logo">BertieDev</label>
    <ul>
      <li><a href="/" class="navbar">Home</a></li>
      <li><a href="/updates" class="navbar">Updates</a></li>

    </ul>
  </nav>

<div class="flex">
  <div class="flex-main">
    <div id="contact" class="box" style="margin-bottom: 35px;">
      <img style="width: 250px; height: 250px; float: right;" class="portrait" src="static/Profile_Picture.jpg">
      <h1>Welcome to BertieDev! Home to the worst programming this side of the Murri Waterhole!</h1><br>
      <p>I am Bertie, an Australian highschooler studying to one day get into CS or Software Engineering. I am building this website to display the projects that I undertake in order to document my programming journey. Have fun browsing :)</p>
    </div>
    <div class="box">
      <div><h1>Recent Updates</h1><a href="/updates" class="navbar" style="font-size: 18;">See All</a></div>
      <div class="flex">
        <p style="flex: 1"><br>This was the first project that I undertook as part of my Year 12 Digital Technologies course. The task was to respond to a statement and research and address relevant ethical concerns in a powerpoint. I responded to the question "Is there a better alternative to online ToS documents?".</p>
        <iframe class="flex-main" flex="2" width="560" height="315" src="https://www.youtube.com/embed/qF9PHF67WBE?si=yAeJYIxAOkH581uq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <!-- iDev.Games Responsive Embed Code for Morbile (Endless Runner) -->
    <div class="box">
      <h1>Play My Most Recent Game!</h1>
      <div style="position: relative; height: 500px; width: 100%; padding-bottom: 56.25%;">
        <iframe id="embededGame" src="https://idev.games/embed/morbile-endless-runner-" scrolling="no" seamless="seamless" frameBorder="0" style="position: absolute;top:0;left: 0;width: 100%;height: 100%;">Browser not compatible.</iframe>
      </div>
    </div>
    <!-- End Embed Code -->
    <iframe style="border-radius:12px; border: none; margin-bottom: 25px;" src="https://open.spotify.com/embed/playlist/3VlaVppxewHdDgRVPbUPnV?utm_source=generator&theme=0" width="100%" height="375" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="flex-projects">
    <div class="box" style="overflow-y: scroll;">
      <h1 style="text-decoration: underline; ">My Links:</h1><br>
      <ul>
        <li style="height: 75px; line-height: 75px; text-align: center; font-size: 30px;"><a href="https://idev.games/profile/bertiesbbcat" target="_blank" rel="noopener noreferrer"><img style="width: 105px; height: 75px; float: left; border: 0px;"src="static/tnails/gamer.webp" class="hideables">I-dev</a></li><br>
        <li style="height: 75px; line-height: 75px; text-align: center; font-size: 30px; margin-left: 12px;"><a href="https://www.linkedin.com/in/bertie-hunt-5804402bb/?originalSubdomain=au" target="_blank" rel="noopener noreferrer"><img style="width: 80px; height: 80px; float: left; border: 0px;"src="static/tnails/Linkedin.png"class="hideables">LinkedIn</a></li><br>
        <li style="height: 75px; line-height: 60px; text-align: center; font-size: 30px; margin-top: 10px;"><a href="https://www.youtube.com/@wonkypeanut480" target="_blank" rel="noopener noreferrer"><img style="width: 85px; height: 65px; float: left; border: 0px; margin-left: 10px;"src="static/tnails/YoutubeNeonCrop.PNG"class="hideables">Youtube</a></li><br>
        <li style="height: 75px; line-height: 75px; text-align: center; font-size: 30px;"><a href="https://www.twitch.tv/wonkypeanut480" target="_blank" rel="noopener noreferrer"><img style="width: 75px; height: 75px; float: left; border: 0px; margin-left: 15px;"src="static/tnails/Twitch.PNG"class="hideables">Twitch</a></li>
      </ul>
    </div>
    <div class="box">
      <div><h1 style="text-decoration: underline; ">Projects: </h1></div>
      <br>
      <div class="box">
        <h3 style="text-decoration: underline; ">Low Quality Scratch Stuff</h3>
        <ul>
          <li><a href="https://idev.games/game/ultimate-biker-legends" target="_blank" rel="noopener noreferrer">-Ultimate Biker Legends</a></li>
          <li><a href="https://idev.games/game/balloon-clicker-blitz" target="_blank" rel="noopener noreferrer">-Balloon Clicker Blitz</a></li>
          <li><a href="https://idev.games/game/minute-madness-hardest-game-ever-" target="_blank" rel="noopener noreferrer">-Minute Madness</a></li>
          <li><a href="https://amogusisland.netlify.app/" target="_blank" rel="noopener noreferrer">-Amogii Island</a></li>
        </ul><br>
        <h3 style="text-decoration: underline; ">Better games</h3>
        <li><a href="https://idev.games/game/morbile-endless-runner-" target="_blank" rel="noopener noreferrer">-Morbile (Endless Runner)</a></li>
      </div>
      <div class="box">
        <h3 style="text-decoration: underline; ">Year 12 Digital Technologies</h3>
        <ul>
          <li><a href="https://youtu.be/qF9PHF67WBE" target="_blank" rel="noopener noreferrer">-Research and Ethics</a></li>
          <li><a href="https://youtu.be/SOnniXp94Z0" target="_blank" rel="noopener noreferrer">-Project Plan</a></li>
          <li><a href="https://youtu.be/dm4BLcqiOXw?si=vXppvgtpLvPzGTpy" target="_blank" rel="noopener noreferrer">-Data Analytics</a></li>
          <li><a href="https://www.youtube.com/watch?v=Meh479WSHFo" target="_blank" rel="noopener noreferrer">-Collaborative Mini Project</a></li>
        </ul>
      </div>
    </div>
    <div class="box">
      <h1 style="text-decoration: underline;">Resource Credits:</h1><br>
      <ul>
        <li><a href="https://aminoapps.com/c/1x1-roleplaying/page/user/the-mighty-capybara/bNbr_Rj0tGfB71wwqDrnwYMoN2B4154ePxbIg" target="_blank" rel="noopener noreferrer">Background Image: Aminoapps.com</a></li><br>
        <li><a href="https://imgpng.ru/download/62393" target="_blank" rel="noopener noreferrer">Neon twitch logo: imgpng.ru</a></li><br>
        <li><a href="https://idev.games/images/gamer.webp" target="_blank" rel="noopener noreferrer">IdevGames logo: Idev.games</a></li><br>
        <li><a href="https://clipartcraft.com/explore/youtube-logo-transparent-galaxy/" target="_blank" rel="noopener noreferrer">Youtube Logo galaxy: clipartcraft.com</a></li><br>
        <li><a href="https://tenor.com/view/animated-koi-fish-swim-plants-flowers-gif-17064252" target="_blank" rel="noopener noreferrer">Project page background: tenor.com</a></li><br>
        <li><a href="https://giphy.com/gifs/pixel-art-this-is-beautiful-U6DBuIWFBOI4U" target="_blank" rel="noopener noreferrer">Update page background: giphy.com</a></li><br>
        <li><a href="https://icones.pro/en/linkedin-purple-round-icon/" target="_blank" rel="noopener noreferrer">Purple LinkedIn Logo: icones.pro</a></li>
      </ul>
    </div>
  </div>
</div>



</body>
