<head>
<link rel="stylesheet" href="static/base.css">
</head>

<body class="game">
  <nav>
    <label class="logo">BertieDev.com</label>
    <ul>
      <li><a href="/" class="navbar">Home</a></li>
      <li><a href="/#contact" class="navbar">Contact</a></li>
      <li><a href="/games" class="navbar">Games</a></li>

    </ul>
  </nav>
  <div class="framebox">
    <iframe src="static/library/balloon/index.html"></iframe>
    <div class="description">
      <h1 style="font-size: 40px;">Balloon Clicker Blitz</h1>
      <br>
      <p>i would let this game have my children if it were to ask</p>
    <div>
  </div>
</body>
